# variables d'environnement (identifiants BDD)
config/.env

# docker data
docker/data/

# dépendances
vendor/

# windows
Thumbs.db
desktop.ini

# mac
.DS_Store

# IDE
.vscode/
.idea/