* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-top {
  overflow: hidden;
  width: 100%;
  background-image: url(/public/image/image2.jpg);
  background-position-y: 3%;
  background-position-x: 28%;
  display: flex;
  align-content: center;
}

.header-top img {
  width: 230px;
  height: auto;
}

.header-bottom {
  background-color: rgb(235, 107, 2);
  color: #ffff;
  font-size: 0.6em;
  padding-left: 40px;
}
/* Contenu : Vue d'ensemble */

.resum {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-top,
.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin: 50px;
}
.card-top div,
.card-bottom div {
  width: 50%;
  margin: 15px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-top-width: 5px;
  border-top-style: solid;
}
.card-total {
  border-top-color: rgb(255, 106, 0);
  background-color: rgb(255, 248, 233);
}
.card-available {
  border-top-color: green;
  background-color: rgb(229, 252, 229);
}
.card-ongoing {
  border-top-color: rgb(19, 184, 255);
  background-color: rgb(243, 250, 255);
}
.card-pending {
  border-top-color: rgb(255, 65, 65);
  background-color:rgb(255, 241, 241);
}
