# .htaccess dans public/ → redirige toutes les requêtes vers index.php

#si le fichier ou le dossier existe, on le sert directement (css, images, JS...)

# !-f -> le fichier existe physiquement -f = file 
RewriteCond %{REQUEST_FILENAME} !-f

# !-d -> dossier existe -d = directory 
RewriteCond %{REQUEST_FILENAM} !-d

# pour que ts fichiers CSS, Js , images soient chargés normalement

# sinon, on redirige tout vers index.php en passant l'URL
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]